MvcApp2/Connected Services/ServiceReference1/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7074/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7074/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7074/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMyService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_ObtenerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="IMyService_ObtenerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IMyService_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="IMyService_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IMyService_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_ObtenerPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorId" />
  </wsdl:message>
  <wsdl:message name="IMyService_ObtenerPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DoWork" message="tns:IMyService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DoWorkResponse" message="tns:IMyService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/ObtenerUsuarios" message="tns:IMyService_ObtenerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/ObtenerUsuariosResponse" message="tns:IMyService_ObtenerUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AgregarUsuario" message="tns:IMyService_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AgregarUsuarioResponse" message="tns:IMyService_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/ActualizarUsuario" message="tns:IMyService_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/ActualizarUsuarioResponse" message="tns:IMyService_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/EliminarUsuario" message="tns:IMyService_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/EliminarUsuarioResponse" message="tns:IMyService_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/ObtenerPorId" message="tns:IMyService_ObtenerPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/ObtenerPorIdResponse" message="tns:IMyService_ObtenerPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMyService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/IMyService/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IMyService/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/IMyService/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IMyService/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <soap:operation soapAction="http://tempuri.org/IMyService/ObtenerPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:7074/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>